---

---

<html lang="ja">
  <head>
	<meta charset="UTF-8" />
	<title>はじめてのAstro</title>
  </head>
  <body>
	<h1>はじめてのAstro.js！</h1>
	<p>開発環境の構築が完了しました。</p>
  </body>
</html>

<style>
  h1 {
	color: #4f39fa;
	font-size: 2rem;
  }
  p {
	color: #555;
	font-size: 1.2rem;
  }
</style>